server {
    client_max_body_size 10G;
    proxy_connect_timeout 75s;
    proxy_read_timeout 300s;
    add_header X-Frame-Options SAMEORIGIN;
    add_header X-XSS-Protection "1; mode=block";
    listen 80;

    server_name {{ exposed_host }};

    root {{ frontend_path }};


    location / {
        {{ "return 301 https://"~exposed_host~"$request_uri;" if mode=="https" else ""}}
    }
}

{{
"server {
    client_max_body_size 10G;
    proxy_connect_timeout 75s;
    proxy_read_timeout 300s;
    add_header X-Frame-Options SAMEORIGIN;
    add_header X-XSS-Protection '1; mode=block';
    listen 443 ssl;
    ssl_certificate "~ssl_certif~";
    ssl_certificate_key "~ssl_key~";
    
    server_name "~exposed_host~";
    add_header Strict-Transport-Security 'max-age=31536000; includeSubDomains; preload;';

    root "~frontend_path~";


    location / {
    }
}" if mode == "https" else ""}}