server {
	client_max_body_size 10G;
	proxy_connect_timeout 75s;
	proxy_read_timeout 300s;
  {{ "ssl_certificate     "~ssl_location~"/corr.crt;" if mode == "https" else "" }}
	{{ "ssl_certificate_key "~ssl_location~"/corr.key;" if mode == "https" else "" }}
    {{ "listen "~mapped_port~" ssl;" if mode == "https" else "listen "~mapped_port~";" }}
    server_name 0.0.0.0 localhost {{ ansible_ssh_host }};

    location / {
        include proxy_params;
        proxy_pass http://unix:{{ socket_file }};
        }
}
