server {
	client_max_body_size 100m;
	ssl_certificate     /corr-ssl/corr.crt;
    ssl_certificate_key /corr-ssl/corr.key;
    listen {{ mapped_port }} ssl;
    server_name 0.0.0.0 localhost {{ ansible_ssh_host }};
    root {{ frontend_path }};

    location / {
        }
}