WTF_CSRF_ENABLED = True

DEBUG = {{ debug }}
FLASK_ENV = 'development'

MONGODB_SETTINGS = {
    'db': '{{hostvars['dbhost']['db_name']}}',
    'host': 'corrdb',#'{{ hostvars['dbhost']['ansible_ssh_host'] }}',
    'port': {{hostvars['dbhost']['mapped_port']}}
}

VIEW_SETTINGS = {
    'host': 'corrview',#'{{ hostvars['frontendhost']['ansible_ssh_host'] }}',
    'port': {{hostvars['frontendhost']['mapped_port']}},
    'mode': '{{ hostvars['frontendhost']['mode'] }}',
}

API_SETTINGS = {
    'host': 'corrapi',#'{{ hostvars['apihost']['ansible_ssh_host'] }}',
    'port': {{hostvars['apihost']['mapped_port']}},
    'mode': '{{ hostvars['apihost']['mode'] }}',
}

S3_BUCKET = '{{s3_bucket}}'

FILE_STORAGE = {
    'type': '{{storage_type}}',
    'location': '{{storage_location}}',
    'name': '{{storage_name}}',
    'id': '{{storage_key_id}}',
    'key': '{{storage_access_key}}'
}

ACCOUNT_MANAGEMENT = {
    'type': '{{db_type}}'
}

ENVIRONMENT = '{{env_type}}'

STORMPATH_API_KEY_FILE = 'apiKey.properties'
STORMPATH_APPLICATION = '{{ stormpath_app }}'
STORMPATH_REDIRECT_URL = '/cloud'
